streamlit
google-generativeai
openai
# torch           # PyTorch (GPU 사용 시 CUDA 지원 버전 설치)
# transformers    # Hugging Face Transformers
# accelerate      # 모델 최적화 및 GPU 활용 (선택 사항)
# sentencepiece   # 일부 모델에서 필요한 경우 (LLaMA 포함)
# notion-client   # Notion API 클라이언트
fpdf2             # PDF 라이브러리
feedparser        # RSS 피드 파싱 라이브러리
pytrends          # Google Trends API 라이브러리
pandas            # 데이터 처리 라이브러리
numpy             # 수학 및 배열 연산 라이브러리
matplotlib        # 시각화 라이브러리
yfinance          # Yahoo Finance API 라이브러리
tweepy            # Twitter API 라이브러리
praw              # Reddit API 라이브러리
plotly.express    # Plotly 시각화 라이브러리
googlemaps        # Google Maps API 라이브러리